{# @CeradTourn/Tourn/Welcome/TournWelcomeNotes.html.twig   #}

<div id="notes">
    <strong>NOTES</strong>:
    <ul>
    <li><strong>To sign up to officiate, you will need to create a Zayso account.</strong></li>
    <li>You can access the rules, schedules, match results and field information as a Guest without creating an account.</li>
    </ul>
</div>
<br>
