<div id="layout-header">
  <a class="a-target-blank" href="http://2014nationalgames.org/" target="_blank">
    <img class="logo1" 
         src="{{ asset('bundles/ceradapp/images/' ~ 'NatGames2014Logo.png') }}"
         height="100" width="100" alt="AYSO National Games 2014 Site"/>
  </a>
  <a class="a-target-blank" href="http://apps.ayso.org/ng/index.php" target="_blank">
    <img class="logo2" src="{{ asset('bundles/ceradapp/images/AysoLogo.jpg') }}" height="100" width="100" alt="AYSO Site"/>
  </a>
  <div class="inner-block">
    <p style="text-align: center;">
      <span style="color: blue;">AYSO National Games 2014, June 19 - July 7, Referee Scheduling Site</span>
    </p>
    <p style="margin-top: 2px; color: black; ">
      <span style="color: blue;">Zayso User: </span>
      <span style="color: green;">       
        {% if     is_granted('ROLE_USER') %}{{ app.user.name }} {{ app.user.person.phone }}{% endif %}
        {% if not is_granted('ROLE_USER') %}Guest{% endif %}          
      </span>
    </p>
  </div>
</div>
