{# @CeradTourn/Layout.html.twig #}
{% extends '@CeradTourn/Base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/ceradapp/css/app.css') }}" media="all" />

{% if cerad_tourn_show('wordpress') %}
    {% set referer = cerad_tourn_get_referer() %}
    <script src="http://2014nationalgames.org/wp-content/themes/2014NationalGames/js/zayso.js"   type="text/javascript"></script>
    <link  href="http://2014nationalgames.org/wp-content/themes/2014NationalGames/css/zayso.css" type="text/css" rel="stylesheet" media="screen" />
{% endif %}

{% endblock %}

{% block layout_body %}
<div id="layout-body">
    
{% if cerad_tourn_show('layout_header') %}
{% block layout_header %}
<div id="layout-header">
    {% render(controller('CeradTournBundle:Tourn/TournHeader:render')) %}
</div>
{% endblock %}
{% endif %}
    
{# if cerad_tourn_show('layout_userinfo') #}
{% block layout_userinfo %}
<div id="layout-userinfo">
    {% render(controller('CeradTournBundle:Tourn/TournUserInfo:render')) %}
</div>
{% endblock %}
{# endif #}
    
{% if cerad_tourn_show('layout_topmenu') %}
{% block layout_topmenu %}
<div id="layout-topmenu">
    {% render(controller('CeradTournBundle:Tourn/TournTopMenu:render')) %}
</div>
{% endblock %}
{% endif %}

    
<div id="layout-content">{% block content %}{% endblock %}</div>

</div>
{% endblock %} {# end body block #}

