<div id="zayso_layout_userinfo" class="zayso_layout_userinfo">
    <p style="color: black; ">
      <!--<span style="color: blue;">User: </span>-->
      <span style="color: green;">       
        {% if is_granted('ROLE_USER') %}
            {{ app.user.name }} 
            {% set person = app.user.person %}
            {% if person %}
            {{ "AYSO ID: %s  "|format(app.user.person.leagueAYSOVolunteer.identifier[5:14]) }}
            {% endif %}
            <a href="{{ path('cerad_account_logout') }}">Sign Out</a>
        {% else %}
            <!--Guest-->
            <br/> <a href="{{ path('cerad_account_login') }}">Zayso Sign In</a>
        {% endif %}          
      </span>
    </p>
</div>
