{% extends '@CeradTourn/layout.html.twig' %}

{% block janrain %}{% include '@CeradJanrain/Janrain/janrain.js.twig' %}{% endblock %}
   
{% block content %}
<h3>Referee Registration</h3>
<p>
    Welcome to the Referee registration for the AYSO 2014 National Games.  This year we will be using the same zAYSO system that we used for the AYSO National Games 2012 event.
</p>
<br/>
<p>
    Returning referees who participated in the 2012 event will already have a account and 
    need only sign in below to update your information as necessary.
</p>
{% if cerad_tourn_show('janrain') %}
<div id="janrainEngageEmbed"></div>
{% endif %}
{{ include('@CeradAccount/Security/login_form.html.twig') }}
<br/>
<p>Referees new to the National Games will need to register for the Games by create an account by <a href="{{ path('cerad_account_register') }}">clicking here</a>.
</p>

 to create a new account and register for the games.
{% endblock %}
