{% extends '@CeradTourn/layout.html.twig' %}
  
{% block content %}
<h3>Referee Schedule</h3>
<p>Not yet available.  Check back near the end of June 2014.</p>
{# include('@CeradTourn/schedule/referee/search.html.twig') #}
{# include('@CeradTourn/schedule/referee/games.html.twig')  #}
{% endblock %}
