{# @CeradTourn/Tourn/Home/TournHomeIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block title %}NG2014: Home{% endblock %}

{% block content %}

{% include '@CeradTourn/Tourn/Home/TournHomeListPeople.html.twig' %}
<br/>
<div class="app_help" style="margin-top:0">
  <h3>Reserved your hotel yet?</h3>
  <ul>
    <li>
      Referees, AYSO has arranged for a special rate for you to book hotels.  Don't forget to reserve your room today by <a href="http://2014nationalgames.org/hotels-for-refereees/" target="_parent">clicking here</a>.
    </li>
    <li>Questions? Contact the AYSO Events Department at <a href="mailto:events@ayso.org">events@ayso.org</a>.
    </li>
  </ul>
</div>

{% endblock %}{# end content block #}
