{# @CeradTourn/Person/Update/AccountUserLoginHelp.html.twig   #}
<div class="app_help">
<h3>Help</h3>
<ul class="cerad_common_help">
    <li>
        You can access the rules, schedules, match results and field information as a Guest.
    </li>
    <li>
        To sign up to officiate, you will need to create a Zayso account.  This is the same system used in the 2012 National Games in Knoxville so if you volunteered then, all of this should be familiar.  Once you create an account, you will also be able to come back and modify your information and availability if required.
    </li>    <li>
        Need to create an account? <a href="{{ path('cerad_tourn_account_create') }}">Click here to create an account</a>.
        <ul class="ul_bullets">
            <li>
                Your name is just that. Example: Pelops Hellanodikis
            </li>
            <li>
                Password can be whatever you want.
            </li>
        </ul>
    </li>

    <li>
        Forgot your Zayso account password?  <a href="{{ path('cerad_tourn_account_password_reset_request') }}">Click here to login or to recover your Zayso password.</a>
    </li>
</ul>
</div>