<h3>Account Creation Help</h3>
<ul class="cerad_common_help">
    <li><em>User Display Name</em>: This is the name that will show up at the top of the screen when you are signed in.</li>
    <li><em>User Name</em>: You can use this name to sign in instead of using a social network.</li>
    <li><em>User Email</em>: You can also sign in with this email address.  Request for password recovery will be sent to this address.  Please monitor the email account as the tournament approaches.
    </li>
    <li><em>User Password</em>: Used when signing in without a social network.</li>
</ul>
