{% extends '@CeradTourn/layout.html.twig' %}

{% block janrain %}Janrain{% endblock %}

{% block content %}
<h3>Contact and Help Information</h3>
<p>
    For questions about the tournament, 
    <a href="mailto:web.ng2014@gmail.com" target="_blank">please click here</a>.
</p>
<p>
    For help with the site, please call Art Hundiak at (256)457-5943.
</p>

{% endblock %}
