<div class="app_table" id="notes">
<table class="app_help">
  <thead>
    <th>Notes on Assignor Procedures</th>
  </thead>
  <tbody>
    <tr>
      <td width="15%">&nbsp;
        <ul>
          <li>TODO</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>
