{% extends '@CeradGame/Layout.html.twig' %}

{% block content %}
<div id="layout-block">
    
{% if shows['select'] %}
{{ include('@CeradGame/Project/Results/Poolplay/Show/Twig/ResultsPoolplayShowSelect.html.twig') }}
{% endif %}
    
{% if shows['help'] %}
<div class="results-legend">
  <h2>
  GS=Goals Scored, SP=Sportsmanship, YC=Caution, RC=Sendoff,
  <br/>
  TE=Total Ejections, PE=Points Earned, TPE=Points Earned, 
  <br/>
  GT=Games Total, GP=Games Played, GW=Games Won, GS=Goals Scored, GA=Goals Against, SF=SoccerFest
  </h2>
  </div>
</div>
{% endif %}

{% for poolKey, pool in pools %}
  {% if shows['games'] %}
    <hr style="border: 4px  ridge" />
    <div id="layout-block">
      {{ include('@CeradGame/Project/Results/Poolplay/Show/Twig/ResultsPoolplayShowGames.html.twig') }}
    </div>
  {% endif %}

  {% if shows['teams'] %}
    <hr style="border: 4px  ridge" />
    <div id="layout-block">
      {{ include('@CeradGame/Project/Results/Poolplay/Show/Twig/ResultsPoolplayShowTeams.html.twig') }}
    </div>
  {% endif %}
{% endfor %} {# pools #}
    
{% endblock %}
