{# @CeradTourn/Tourn/TopMenu/TournTopMenuIndex.html.twig   #}

<ul class="semiopaquemenu">
  <li>
    <a href="{{ path('cerad_tourn_home') }}">Login</a>
  </li>
  <li>
    <a href="{{ path('cerad_tourn_person_update') }}">My Account</a>
  </li>
  <li>
    <a href="{{ path('cerad_tourn_person_plan_update') }}">My Plan</a>
  </li>
  <li>
    <a href="{{ path('cerad_tourn_user_logout') }}">Logout</a>
  </li>
</ul>
<div class="bottombar"></div>